---
name: Release

on:
  workflow_dispatch:  # Allows to trigger the workflow manually in GitHub UI

jobs:
  release:
    uses:
      ./.github/workflows/_release.yml
    with:
      working-directory: .
    permissions: write-all
    secrets: inherit
